.surveyCreator {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
  padding-left: 100px;
  padding-right: 100px;
}

.surveyCreator-container {
  margin-top: 20px;
  display: flex;
}

.surveyCreator-questions {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 50%;
  height: auto;
}

.questions-header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.questions-list {
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
}

.header-btn {
  font-size: large;
  margin: 5px;
  cursor: pointer;
}

.questions-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.questions-item:hover {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.685);
}

.surveyCreator-options {
  margin-left: 10px;
}

.option-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0px;
}

.option-item span {
  cursor: pointer;
}

.option-item:hover {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.102);
}
