.surveyList {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
  padding-left: 100px;
  padding-right: 100px;
}

.surveyList-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.addSurvey-container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.addSurvey-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  cursor: pointer;
  height: 80px;
  width: 100px;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px;
}

.addSurvey-btn:hover {
  transition: ease-in 0.3s;
  background: rgba(255, 255, 255, 0.253);
}

.searchSurvey {
  display: flex;
  align-items: center;
}

.searchSurvey-input {
  margin-top: 10px;
  margin-left: 10px;
  width: 280px;
}
