.signup {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.signup-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 10px;
  margin-top: 220px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin: 10px 0px;
}

.signup-form .btn {
  margin-top: 15px;
  margin-bottom: 5px;
}
