body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 2px solid #fff;
  border-radius: 10px;
  background: none;
  color: #fff;
  outline: none;
  padding: 5px;
  font-size: large;
  height: 1rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.363);
}

.btn {
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  display: inline;
  text-align: center;
}

.btn:hover {
  transition: 0.7s;
  background: rgba(255, 255, 255, 0.568);
}
