.survey-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100px;
  width: 160px;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px;
}

.survey-card:hover {
  transition: ease-in 0.3s;
  background: rgba(255, 255, 255, 0.253);
}
